<a href="https://colab.research.google.com/github/farcorn71/HamoyeStageOneTest/blob/master/StageOneTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Import Statement ***

In [8]:
import numpy as np
import pandas as pd

In [11]:
fuel_raw_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [4]:
fuel_raw_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [12]:
fuel_raw_data.skew() ##test

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [33]:
dess = fuel_raw_data.isnull().sum()##test
print(dess.describe()) ##use mean and categorical to fill

count     11.000000
mean      16.363636
std       54.272042
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      180.000000
dtype: float64

In [38]:
fuel_raw_data_perce_delivered = fuel_raw_data.groupby('report_year')['fuel_cost_per_unit_delivered'] 
fuel_raw_data_perce_delivered.describe()
fuel_raw_data_perce_burned = fuel_raw_data.groupby('report_year')['fuel_cost_per_unit_burned'] 
fuel_raw_data_perce_burned.describe()
fuel_raw_data_perce = fuel_raw_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'] 
fuel_raw_data_perce.describe()

                       count         mean  ...       75%         max
fuel_type_code_pudl                        ...
coal                  8547.0    67.421830  ...  44.66800   44033.320
gas                  11486.0    13.659397  ...   6.96000   10490.000
nuclear                818.0  4955.157002  ...  50.85525   69785.215
oil                   8064.0   168.877086  ...  98.68925  139358.000
other                  167.0    18.253856  ...  20.05500     134.547
waste                  441.0    19.518122  ...  32.65000     132.291

[6 rows x 8 columns]